body {
    background-image: url('/imgs/background.jpg');
    color: #4a251a;
margin: 0;
padding: 0;
position: relative; 
  }

h1 {
    font-family: "coronette", serif;
font-weight: 400;
font-style: normal;
color: #4a251a ;
}



.page-navigation {
position: absolute;
top: 10px;
width: 100%;
display: flex;
justify-content: space-between;
}


.page-navigation button {
pointer-events: all; 
background: none;
border: none;
font-size: 2rem;
cursor: pointer;
color: #333;
font-weight: bold;
margin: 0 20px;
}


.page-navigation button:hover {
color: #666;
}

header {
text-align: center;
padding: 20px 0;
border-bottom: 3px solid #000;
position: relative; 
}
header h1 {
font-size: 48px;
margin-bottom: 5px;
letter-spacing: 2px;
text-transform: uppercase;
}
header h2 {
font-size: 18px;
font-style: italic;
margin-bottom: 10px;
}





.navbar {
background-color: #333;
padding: 10px 0;
}
.navbar ul {
list-style: none;
display: flex;
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
}
.navbar li {
margin: 0 20px;
}
.navbar a {
color: #fff; 
text-decoration: none;
font-weight: bold;
font-size: 16px;
}
.navbar a:hover {
text-decoration: underline;
}

.content {
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 20px;
}

.left-column {
width: 65%;
padding-right: 20px;
border-right: 2px solid #000; 
}

.right-column {
width: 30%;
padding-left: 20px;
}

.article-box {
margin-bottom: 20px;
padding-bottom: 10px;
border-bottom: 2px solid #000;
}
.article-box h3 {
margin-bottom: 5px;
font-size: 20px;
text-transform: uppercase;
}


.article-box p {
line-height: 1.5;
font-size: 16px;
margin-bottom: 5px;
}

.featured-article {
margin-top: 20px;
}
.featured-article h2 {
font-size: 24px;
text-transform: uppercase;
margin-bottom: 10px;
border-bottom: 2px solid #000;
padding-bottom: 5px;
}
.featured-article img {
width: 100%;
height: auto;
border: 2px solid #000;
margin-bottom: 10px;
}
.featured-article p {
line-height: 1.6;
font-size: 16px;
}

.bottom-feature {
width: 90%;
margin: 20px auto;
border-top: 3px solid #000;
padding-top: 20px;
}



.bottom-feature h3 {
font-size: 20px;
margin-bottom: 10px;
text-transform: uppercase;
border-bottom: 2px solid #000;
padding-bottom: 5px;
}
.bottom-feature p {
line-height: 1.5;
font-size: 16px;
}
